@import 'https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap';
body {
    font-family: "Poppins", "Helvetica", "Arial", sans-serif;
    max-width: 90em;
    margin: 0 auto;
    margin-top: 100px;
    line-height: 1.5;
    padding: 30px;
    color: #555;
    background-image: url("Images/Backgrounds/Hintergrundbild\ 1_weichzeichner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* Kopfzeile, Navigation; Hintergrundfarbe Navigation; Style der Links innerhalb der Navigation; Mouseover Stil; Aktive Seite Farbe
Navigation und Animation teilweise 체bernommen von https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_fade1 und von https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

header {
    box-shadow: 0 0 25px 0 black;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 0 auto;
    left: 0;
    right: 0;
}

header img.center {
    height: 50px;
    display: block;
    margin: 4px auto 8px auto;
}

div.navigation {
    max-width: 90em;
    margin: 0 auto;
}

.navigation {
    background-color: white;
    overflow: hidden;
}

.navigation a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    opacity: 0.6;
    transition: 0.3s;
}

.navigation a:hover {
    background-color: #fff9c4;
    color: black;
    opacity: 1;
}

.navigation a.active {
    background-color: #81d4fa;
    color: #000000;
    opacity: 1;
}

.navigation .icon {
    display: none;
}

@media screen and (max-width: 938px) {
    .navigation a:not(:first-child) {
        display: none;
    }
    .navigation a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 938px) {
    .navigation.responsive {
        position: relative;
    }
    .navigation.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/*Aufbau der Seite samt Inhalt*/

* {
    box-sizing: border-box;
}

a {
    color: #4fc3f7;
}

div.flexcontainer_startseite {
    display: flex;
    width: 0 auto;
    justify-content: space-between;
}

div.artikel {
    background: white;
    padding: 20px;
    flex-direction: column;
    flex: 0 0 70%;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.artikel2 {
    background: white;
    margin-top: 30px;
    padding: 20px;
    flex-direction: column;
    flex: 0 0 70%;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.quicklinks {
    background: white;
    padding: 20px;
    flex-direction: column;
    flex: 0 0 28%;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.dsgvo {
    background: white;
    padding: 20px;
    flex-direction: column;
    flex: 0 0 100%;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.artikel {
    border: 2px solid rgb(76, 198, 247);
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
}

div.keinesuche {
    margin-top: 30px;
}

ul.quicklinksliste {
    line-height: 215%;
}

section.suche {
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flexcontainer_footer {
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

div.aboutus {
    flex: 0 0 50%;
    font-size: small;
}

div.developers {
    flex: 0 0 20%;
}

div.importantlinks {
    flex: 0 0 20%;
}

div.copyright {
    flex: 0 0 100%;
    font-size: x-small;
}

footer ul {
    padding-left: 0;
    font-size: small;
}

footer li {
    list-style-type: none;
}

.titelReise {
    padding: 10px;
    font-family: "Poppins", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid grey;
    width: 100%;
    background: #fffde7;
    border-radius: 4px;
}

.reisetippsTeilen {
    width: 100%;
    height: 80%;
    resize: vertical;
    font-family: "Poppins", "Helvetica", "Arial", sans-serif;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid grey;
    box-sizing: border-box;
    background: #fffde7;
    border-radius: 4px;
}

button {
    background-color: #81d4fa;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

#tabelleBeitraege {
    border-color: #555;
    margin-left: 15px;
    background-color: #ffffff;
    color: #000000;
}


/* Inspiration Bilder */

.inspiration_images {
    padding: 0 4px;
    display: flex;
    flex-wrap: wrap;
}

.inspiration_spalte {
    padding: 0 4px;
    max-width: 33%;
    flex: 33%;
}

.inspiration_spalte img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 500px) {
    .inspiration_spalte {
        max-width: 100%;
        flex: 100%;
    }
}


/*  Button & Modal Popup (War urspr체nglich f체r "neuer Beitrag erstellen" gedacht, jetzt in Verwendung bei einem Easteregg lol) */

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 50%;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: tomato;
}

.close-button:hover {
    background-color: indianred;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.neuer_Titel {
    padding: 10px;
    font-family: "Poppins", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    border: 1px solid grey;
    width: 50%;
    background: #fffde7;
    border-radius: 4px;
}

.neuer_Beitrag {
    width: 100%;
    height: 40%;
    resize: vertical;
    font-family: "Poppins", "Helvetica", "Arial", sans-serif;
    padding: 12px 20px;
    font-size: 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 4px;
}

.trigger {
    background-color: #81d4fa;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}


/* Login / Registrieren (Unvollst채ndig) */

form.login {
    margin-top: 30px;
    border: 1px solid #f1f1f1;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

#cancel {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    #cancel {
        width: 100%;
    }
}

body.login {
    max-width: 60em;
}